@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles/globals.css */
@font-face {
  font-family: 'ClashDisplay';
  src: url('../public/fonts/ClashDisplay-Medium.otf') format('opentype');
  font-weight: 500; /* Adjust this based on the weight of your font */
  font-style: normal;
}

body {
  font-family: 'ClashDisplay', sans-serif;
}

